In [3]:
# Import your dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
import pandas as pd

In [7]:
# Read in your csv
charity_df = pd.read_csv("Resources/charity_data.csv")
charity_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [8]:
print("Num GPUs Available: ", len(tf.config.experimental.list_physical_devices('GPU')))

Num GPUs Available:  0

In [10]:
# Drop ID columns
clean_df = df.drop(['EIN','NAME'], axis = 1)
clean_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [11]:
# Find the unique values in each column 
clean_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [13]:
# View APPLICATION_TYPE value counts
clean_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [15]:
# Create list of replacement application types then use variable name 'application_types_to_replace'
application_types_to_replace = []
for x in clean_df['APPLICATION_TYPE'].unique():
    if len(clean_df.loc[clean_df['APPLICATION_TYPE'] == x]) < 500:
        application_types_to_replace.append(x)


# Replace in dataframe
for app in application_types_to_replace:
    clean_df['APPLICATION_TYPE'] = clean_df['APPLICATION_TYPE'].replace(app,"Other")

In [16]:
# Check to make sure binning was successful
clean_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [17]:
# View CLASSIFICATION value counts
clean_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [20]:
# Create list of replacement application types then use variable name 'classifications_types_to_replace'
classifications_to_replace = []
for x in clean_df['CLASSIFICATION'].unique():
    if len(clean_df.loc[clean_df['CLASSIFICATION'] == x]) < 1880:
        classifications_to_replace.append(x)

# Replace in dataframe 
for cls in classifications_to_replace:
    clean_df['CLASSIFICATION'] = clean_df['CLASSIFICATION'].replace(cls,"Other")

In [21]:
# Check to make sure binning was successful
clean_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [23]:
# Create and then convert data with `pd.get_dummies`
dummy_df = pd.get_dummies(df)
dummy_df

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,10531628,1,108590,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,10547893,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,10553066,1,6692,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,10556103,1,142590,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,996010315,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,996012607,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,996015768,1,5000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,996086871,1,36500179,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [27]:
# Split preprocessed data into features and target arrays
y = dummy_df['IS_SUCCESSFUL'].values
X = dummy_df.drop(["IS_SUCCESSFUL"], axis=1).values

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [28]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data 
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [30]:
# Define the model
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30
number_input_features

nn = tf.keras.models.Sequential()

# First hidden layer 
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                1574240

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 1,576,701
Trainable params: 1,576,701
Non-trainable params: 0
_________________________________________________________________

In [31]:
# Gather the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [32]:
# Train the model 
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 9s 11ms/step - loss: 0.4766 - accuracy: 0.7728
Epoch 2/100
804/804 [==============================] - 8s 10ms/step - loss: 0.1253 - accuracy: 0.9543
Epoch 3/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0968 - accuracy: 0.9609
Epoch 4/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0935 - accuracy: 0.9615
Epoch 5/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0920 - accuracy: 0.9618
Epoch 6/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0908 - accuracy: 0.9624
Epoch 7/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0904 - accuracy: 0.9623
Epoch 8/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0898 - accuracy: 0.9628
Epoch 9/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0891 - accuracy: 0.9628
Epoch 10/100
804/804 [==============================] - 9s 11ms/step - loss: 0.0889 - accuracy: 0.9634
Epoch 11/100
804/804 [==============================] - 9s 11ms/step - loss: 0.0881 - accuracy: 0.9637
Epoch 12/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0875 - accuracy: 0.9640
Epoch 13/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0867 - accuracy: 0.9641
Epoch 14/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0863 - accuracy: 0.9642
Epoch 15/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0856 - accuracy: 0.9647
Epoch 16/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0854 - accuracy: 0.9649
Epoch 17/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0851 - accuracy: 0.9648
Epoch 18/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0845 - accuracy: 0.9647
Epoch 19/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0839 - accuracy: 0.9654
Epoch 20/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0838 - accuracy: 0.9659
Epoch 21/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0833 - accuracy: 0.9658
Epoch 22/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0831 - accuracy: 0.9665
Epoch 23/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0823 - accuracy: 0.9664
Epoch 24/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0815 - accuracy: 0.9665
Epoch 25/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0822 - accuracy: 0.9661
Epoch 26/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0810 - accuracy: 0.9670
Epoch 27/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0810 - accuracy: 0.9673
Epoch 28/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0800 - accuracy: 0.9675
Epoch 29/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0802 - accuracy: 0.9677
Epoch 30/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0792 - accuracy: 0.9674
Epoch 31/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0788 - accuracy: 0.9679
Epoch 32/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0785 - accuracy: 0.9674
Epoch 33/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0779 - accuracy: 0.9679
Epoch 34/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0777 - accuracy: 0.9685
Epoch 35/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0772 - accuracy: 0.9683
Epoch 36/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0767 - accuracy: 0.9685
Epoch 37/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0767 - accuracy: 0.9691
Epoch 38/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0763 - accuracy: 0.9690
Epoch 39/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0759 - accuracy: 0.9689
Epoch 40/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0758 - accuracy: 0.9693
Epoch 41/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0754 - accuracy: 0.9688
Epoch 42/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0749 - accuracy: 0.9691
Epoch 43/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0752 - accuracy: 0.9689
Epoch 44/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0745 - accuracy: 0.9698
Epoch 45/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0743 - accuracy: 0.9697
Epoch 46/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0746 - accuracy: 0.9700
Epoch 47/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0741 - accuracy: 0.9704
Epoch 48/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0738 - accuracy: 0.9697
Epoch 49/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0734 - accuracy: 0.9706
Epoch 50/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0730 - accuracy: 0.9705
Epoch 51/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0728 - accuracy: 0.9706
Epoch 52/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0728 - accuracy: 0.9701
Epoch 53/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0722 - accuracy: 0.9708
Epoch 54/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0728 - accuracy: 0.9706
Epoch 55/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0721 - accuracy: 0.9706
Epoch 56/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0719 - accuracy: 0.9709
Epoch 57/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0724 - accuracy: 0.9707
Epoch 58/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0717 - accuracy: 0.9709
Epoch 59/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0717 - accuracy: 0.9706
Epoch 60/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0718 - accuracy: 0.9706
Epoch 61/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0713 - accuracy: 0.9708
Epoch 62/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0713 - accuracy: 0.9713
Epoch 63/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0712 - accuracy: 0.9710
Epoch 64/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0705 - accuracy: 0.9716
Epoch 65/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0706 - accuracy: 0.9710
Epoch 66/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0706 - accuracy: 0.9713
Epoch 67/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0704 - accuracy: 0.9712
Epoch 68/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0716 - accuracy: 0.9710
Epoch 69/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0699 - accuracy: 0.9717
Epoch 70/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0700 - accuracy: 0.9715
Epoch 71/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0700 - accuracy: 0.9715
Epoch 72/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0698 - accuracy: 0.9718
Epoch 73/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0693 - accuracy: 0.9715
Epoch 74/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0698 - accuracy: 0.9711
Epoch 75/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0693 - accuracy: 0.9717
Epoch 76/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0692 - accuracy: 0.9713
Epoch 77/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0693 - accuracy: 0.9720
Epoch 78/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0690 - accuracy: 0.9714
Epoch 79/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0695 - accuracy: 0.9711
Epoch 80/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0692 - accuracy: 0.9715
Epoch 81/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0693 - accuracy: 0.9711
Epoch 82/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0691 - accuracy: 0.9719
Epoch 83/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0685 - accuracy: 0.9721
Epoch 84/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0687 - accuracy: 0.9722
Epoch 85/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0684 - accuracy: 0.9718
Epoch 86/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0687 - accuracy: 0.9723
Epoch 87/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0687 - accuracy: 0.9718
Epoch 88/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0678 - accuracy: 0.9723
Epoch 89/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0677 - accuracy: 0.9722
Epoch 90/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0685 - accuracy: 0.9718
Epoch 91/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0677 - accuracy: 0.9720
Epoch 92/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0676 - accuracy: 0.9726
Epoch 93/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0679 - accuracy: 0.9724
Epoch 94/100
804/804 [==============================] - 8s 9ms/step - loss: 0.0675 - accuracy: 0.9723
Epoch 95/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0680 - accuracy: 0.9720
Epoch 96/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0679 - accuracy: 0.9724
Epoch 97/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0676 - accuracy: 0.9727
Epoch 98/100
804/804 [==============================] - 7s 9ms/step - loss: 0.0672 - accuracy: 0.9724
Epoch 99/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0720 - accuracy: 0.9717
Epoch 100/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0676 - accuracy: 0.9725

In [33]:
# Evaluate the model
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.8940 - accuracy: 0.7338 - 922ms/epoch - 3ms/step
Loss: 0.8940233588218689, Accuracy: 0.7337609529495239

In [34]:
# Export model
nn.save('Charity.h5')